In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("pirates.csv") #main data
dataNew = pd.read_csv("PirateNewRow.csv") #new row
dataColumn = pd.read_csv("PirateNewCOlumn.csv") #new column

In [3]:
data.info() 
pd.set_option('display.max_rows', None) #no limits while using print(data["column"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   int64
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(7), object(6)
memory usage: 132.9+ KB

In [4]:
#Made by AI

# Define the criterion for a missing object (e.g., missing 'ID' value)
#missing_criterion = data['age'].isnull()

# Use the criterion to filter the rows
#missing_rows = data[missing_criterion]["id"]

# Print the missing rows
#print(missing_rows)

#missing_criterion = data['headband'].isnull()

#missing_rows = data[missing_criterion]["id"]

#print(missing_rows)

#missing_criterion = data['sword.time'].isnull()

#missing_rows = data[missing_criterion]["id"]

#print(missing_rows)

#missing_criterion = data['favorite.pirate'].isnull()

#missing_rows = data[missing_criterion]["id"]

#print(missing_rows)



#was solved by dropna()

In [5]:
#other student answer

#for index, row in data.iterrows():
#    for column in data.columns:
#        if pd.isna(row[column]):
#            print("Missing data")
#            print(index)
#            print(column)

In [6]:
#teacher answer

#for column in data.columns:
#    for row in range(len(data["id"])):
#        if pd.isna(data.loc[row, column]):
#            print(row+1)
#            print(column)

In [7]:
data.nunique()

id                 1000
sex                   3
age                  35
height              882
weight              393
headband              2
college               2
tattoos              20
tchests             108
parrots              23
favorite.pirate       6
sword.type            4
eyepatch              2
sword.time          324
beard.length         38
fav.pixar            15
grogg                21
dtype: int64

In [8]:
avgage = data["age"].mean()
print(avgage)
#average age

27.35735735735736

In [9]:
countLess = 0
for i in data["weight"]:
    if i < 45.3592:
        countLess += 1
a = countLess/len(data["weight"])
print(a*100, "%")
# pirates who are lighter than 100 lbs

0.8 %

In [10]:
#Made by ChatGPT

# Specify the condition for filtering
condition = data['sex'] == 'female'  # You can change this condition as needed

# Calculate the average of 'age' where 'sex' meets the female
average = data.loc[condition, 'age'].mean()

print("Average of 'age' where 'sex' meets the female:", average)
#average of females

Average of 'age' where 'sex' meets the female: 29.922246220302377

In [11]:
#Made with AI

highWeight = data["weight"].max()
rowHighWeight = data[data["weight"] == highWeight]
indexRowHighWeight = rowHighWeight.index.tolist()
print(highWeight)
print(indexRowHighWeight)
#highest weight

105.6
[1]

In [12]:
#Made with AI

lowHeight = data["height"].min()
rowLowHeight = data[data["height"] == lowHeight]
indexRowLowHeight = rowLowHeight.index.tolist()
print(lowHeight)
print(indexRowLowHeight)
#lowest height

129.83
[38]

In [13]:
popularMovie = data["fav.pixar"].mode()
print(popularMovie)
#mode of the movies

0    Inside Out
Name: fav.pixar, dtype: object

In [14]:
medEyePatch = data["eyepatch"].median()
avgEyePatch = data["eyepatch"].mean()
print(medEyePatch)
print(avgEyePatch)
#data about eyepatches

1.0
0.658

In [15]:
data.loc[35, "parrots"] = 1

In [16]:
#idx = 0
#for i in data["parrots"]:
#    data.loc[idx, "parrots"] = int(1)
#    idx = idx + 1
#doesn't work as intended

In [17]:
data["parrots"].median()
data["parrots"].mean()
data["parrots"].mode()
#data on parrots

0    1
Name: parrots, dtype: int64

In [18]:
# Use pd.concat() to combine the DataFrames along rows (axis=0)
dataCombine = pd.concat([data, dataNew], axis = 0, ignore_index=True)
#data.info()
#dataCombine.info()

In [19]:
#sort columns by ["id"] from lowest to highest
dataColumnSorted = dataColumn.sort_values(by="id", ascending=True)
print(dataColumnSorted)

      id         favorite.sea
144    0       Gulf of Mexico
645    1          Caspian Sea
742    2              Red Sea
288    3          Chilean Sea
837    4           Bering Sea
664    5         Labrador Sea
983    6            Black Sea
858    7           Baltic Sea
654    8        Norwegian Sea
579    9         Labrador Sea
762   10           Ryukyu Sea
913   11           Ryukyu Sea
451   12        Caribbean Sea
351   13       Southern Ocean
829   14         Labrador Sea
81    15           Aegean Sea
4     16        Norwegian Sea
49    17          Arabian Sea
912   18       Tyrrhenian Sea
458   19             Java Sea
269   20          Andaman Sea
35    21        Greenland Sea
819   22       Southern Ocean
716   23           Baltic Sea
415   24             Sulu Sea
2     25         Ligurian Sea
581   26        Norwegian Sea
309   27           Tasman Sea
977   28          Celebes Sea
64    29    Mediterranean Sea
790   30       Gulf of Mexico
871   31      South China Sea
439   32       Gulf of Mexico
33    33           Bering Sea
769   34        Caribbean Sea
923   35           Bering Sea
218   36         Adriatic Sea
466   37        Norwegian Sea
885   38           Ryukyu Sea
212   39           Baltic Sea
375   40          Celebes Sea
805   41          Andaman Sea
943   42              Red Sea
428   43           Baltic Sea
27    44      South China Sea
719   45         Labrador Sea
744   46        Greenland Sea
423   47          Barents Sea
520   48         Ligurian Sea
480   49       Tyrrhenian Sea
836   50       Southern Ocean
63    51             Java Sea
244   52           Yellow Sea
446   53         Adriatic Sea
136   54          Barents Sea
141   55           Ryukyu Sea
700   56       Tyrrhenian Sea
643   57         Ligurian Sea
416   58         Adriatic Sea
828   59             Sulu Sea
798   60             Sulu Sea
185   61           Baltic Sea
366   62           Tasman Sea
749   63         Adriatic Sea
243   64           Bering Sea
697   65       Tyrrhenian Sea
12    66         Sea of Japan
778   67           Ryukyu Sea
608   68  Gulf of St Lawrence
722   69           Ryukyu Sea
647   70           Yellow Sea
307   71           Baltic Sea
712   72           Baltic Sea
827   73          Celebes Sea
609   74          Andaman Sea
399   75           Baltic Sea
352   76       Southern Ocean
845   77       Philippine Sea
509   78        Caribbean Sea
378   79        Caribbean Sea
453   80        Caribbean Sea
551   81    Mediterranean Sea
911   82            Black Sea
348   83       Tyrrhenian Sea
671   84       Philippine Sea
320   85         Adriatic Sea
666   86           Yellow Sea
787   87       Gulf of Alaska
929   88    Mediterranean Sea
751   89            Coral Sea
752   90        Greenland Sea
191   91          Celebes Sea
1     92       Gulf of Alaska
908   93          Arabian Sea
765   94      South China Sea
583   95          Arabian Sea
41    96              Red Sea
658   97       Gulf of Mexico
303   98           Aegean Sea
431   99             Java Sea
932  100      South China Sea
333  101       East China Sea
72   102            Coral Sea
379  103            Black Sea
245  104      South China Sea
102  105       Southern Ocean
138  106          Barents Sea
334  107         Sea of Japan
247  108        Norwegian Sea
592  109         Ligurian Sea
519  110            Banda Sea
689  111          Chilean Sea
422  112             Sulu Sea
204  113       Gulf of Mexico
264  114           Yellow Sea
343  115       East China Sea
21   116       Philippine Sea
986  117       East China Sea
495  118            Black Sea
70   119        Caribbean Sea
875  120              Red Sea
16   121           Yellow Sea
407  122          Caspian Sea
549  123            Black Sea
794  124         Adriatic Sea
354  125          Caspian Sea
221  126         Adriatic Sea
462  127         Adriatic Sea
363  128           Yellow Sea
904  129             Sulu Sea
533  130          Andaman Sea
653  131          Caspian Sea
723  132             Sulu Sea
736  133        Greenland Sea
941  134           Baltic Sea
801  135         Sea of Japan
342  136             Java Sea
504  137       Gulf of Alaska
140  138              Red Sea
623  139          Celebes Sea
277  140    Mediterranean Sea
505  141       Tyrrhenian Sea
906  142            Coral Sea
596  143    Mediterranean Sea
534  144           Ryukyu Sea
132  145            Coral Sea
187  146         Adriatic Sea
123  147           Bering Sea
239  148           Bering Sea
541  149          Celebes Sea
489  150          Chilean Sea
825  151            Banda Sea
576  152       Southern Ocean
437  153          Caspian Sea
590  154        Norwegian Sea
434  155       East China Sea
839  156           Baltic Sea
47   157             Java Sea
709  158           Yellow Sea
665  159          Celebes Sea
405  160          Barents Sea
622  161  Gulf of St Lawrence
907  162          Andaman Sea
87   163    Mediterranean Sea
69   164         Ligurian Sea
763  165          Chilean Sea
313  166           Aegean Sea
380  167           Ryukyu Sea
404  168        Norwegian Sea
376  169         Labrador Sea
812  170    Mediterranean Sea
718  171          Barents Sea
753  172          Arabian Sea
355  173       Tyrrhenian Sea
867  174            Banda Sea
266  175            Black Sea
284  176    Mediterranean Sea
835  177       East China Sea
0    178           Bering Sea
486  179              Red Sea
246  180              Red Sea
435  181          Caspian Sea
142  182          Caspian Sea
171  183        Greenland Sea
946  184             Java Sea
65   185           Aegean Sea
698  186          Caspian Sea
384  187        Caribbean Sea
979  188           Ryukyu Sea
259  189       Tyrrhenian Sea
855  190             Sulu Sea
173  191        Norwegian Sea
553  192             Sulu Sea
89   193          Arabian Sea
104  194             Sulu Sea
106  195       Tyrrhenian Sea
157  196            Coral Sea
146  197            Banda Sea
426  198           Ryukyu Sea
650  199          Andaman Sea
302  200           Baltic Sea
80   201       Tyrrhenian Sea
556  202          Caspian Sea
883  203           Ryukyu Sea
935  204       Gulf of Mexico
607  205           Baltic Sea
459  206             Sulu Sea
711  207         Ligurian Sea
914  208           Yellow Sea
394  209         Ligurian Sea
862  210       Southern Ocean
275  211       East China Sea
634  212          Caspian Sea
148  213       East China Sea
662  214        Norwegian Sea
120  215          Caspian Sea
868  216            Coral Sea
326  217  Gulf of St Lawrence
319  218             Java Sea
475  219           Ryukyu Sea
59   220      South China Sea
312  221           Aegean Sea
91   222           Bering Sea
625  223          Arabian Sea
673  224             Java Sea
773  225         Sea of Japan
779  226          Arabian Sea
656  227       Gulf of Mexico
445  228            Coral Sea
738  229          Barents Sea
586  230           Aegean Sea
114  231          Celebes Sea
966  232          Barents Sea
411  233          Caspian Sea
783  234          Barents Sea
158  235       Gulf of Alaska
427  236          Barents Sea
521  237       Gulf of Mexico
754  238           Bering Sea
830  239        Greenland Sea
388  240  Gulf of St Lawrence
421  241          Caspian Sea
316  242          Chilean Sea
39   243       East China Sea
311  244          Arabian Sea
810  245         Sea of Japan
629  246         Labrador Sea
879  247       Philippine Sea
190  248         Ligurian Sea
109  249       Gulf of Alaska
317  250         Adriatic Sea
139  251          Celebes Sea
663  252        Norwegian Sea
414  253           Ryukyu Sea
310  254           Ryukyu Sea
298  255       Philippine Sea
385  256       Southern Ocean
965  257           Bering Sea
99   258       Philippine Sea
222  259           Yellow Sea
45   260           Tasman Sea
922  261       Philippine Sea
147  262          Arabian Sea
124  263       Southern Ocean
37   264        Norwegian Sea
976  265         Labrador Sea
781  266  Gulf of St Lawrence
494  267        Norwegian Sea
455  268            Black Sea
95   269          Barents Sea
25   270           Tasman Sea
901  271              Red Sea
281  272         Ligurian Sea
639  273         Ligurian Sea
199  274             Sulu Sea
289  275       Philippine Sea
572  276          Chilean Sea
401  277        Norwegian Sea
273  278         Adriatic Sea
919  279       Tyrrhenian Sea
162  280        Norwegian Sea
884  281            Banda Sea
341  282          Andaman Sea
949  283    Mediterranean Sea
117  284         Labrador Sea
15   285       Philippine Sea
582  286           Baltic Sea
691  287           Aegean Sea
893  288       East China Sea
791  289       Gulf of Alaska
61   290           Aegean Sea
690  291            Banda Sea
129  292  Gulf of St Lawrence
994  293       Philippine Sea
525  294  Gulf of St Lawrence
328  295             Sulu Sea
126  296            Banda Sea
52   297    Mediterranean Sea
895  298             Java Sea
56   299        Caribbean Sea
482  300           Bering Sea
97   301         Sea of Japan
135  302        Caribbean Sea
406  303            Coral Sea
98   304          Barents Sea
274  305           Bering Sea
707  306       Philippine Sea
94   307            Coral Sea
771  308             Sulu Sea
194  309          Caspian Sea
154  310         Adriatic Sea
748  311          Chilean Sea
377  312         Adriatic Sea
768  313         Sea of Japan
9    314           Bering Sea
7    315       Philippine Sea
179  316       Southern Ocean
368  317           Tasman Sea
159  318             Sulu Sea
340  319           Aegean Sea
527  320           Tasman Sea
371  321    Mediterranean Sea
514  322       East China Sea
772  323       Philippine Sea
92   324          Andaman Sea
330  325            Black Sea
11   326             Sulu Sea
357  327             Sulu Sea
948  328           Yellow Sea
175  329             Java Sea
393  330              Red Sea
989  331            Coral Sea
939  332             Java Sea
287  333         Labrador Sea
717  334          Celebes Sea
589  335          Celebes Sea
777  336           Aegean Sea
760  337          Chilean Sea
706  338            Coral Sea
865  339          Celebes Sea
430  340  Gulf of St Lawrence
192  341    Mediterranean Sea
695  342           Yellow Sea
927  343          Celebes Sea
202  344        Greenland Sea
493  345           Aegean Sea
450  346           Yellow Sea
108  347          Barents Sea
130  348          Chilean Sea
561  349           Bering Sea
693  350          Celebes Sea
291  351       Tyrrhenian Sea
945  352        Greenland Sea
818  353          Andaman Sea
250  354          Celebes Sea
727  355       Gulf of Alaska
903  356           Aegean Sea
233  357    Mediterranean Sea
251  358            Banda Sea
402  359           Baltic Sea
577  360         Labrador Sea
569  361           Aegean Sea
297  362        Caribbean Sea
374  363           Aegean Sea
962  364            Banda Sea
74   365           Baltic Sea
993  366           Ryukyu Sea
118  367       East China Sea
241  368      South China Sea
568  369             Java Sea
369  370              Red Sea
473  371          Celebes Sea
217  372          Andaman Sea
615  373       Philippine Sea
314  374       East China Sea
236  375       Southern Ocean
714  376  Gulf of St Lawrence
675  377        Norwegian Sea
308  378            Black Sea
688  379         Ligurian Sea
775  380        Caribbean Sea
403  381       Southern Ocean
860  382          Chilean Sea
265  383           Aegean Sea
774  384          Andaman Sea
959  385           Aegean Sea
42   386       East China Sea
476  387         Labrador Sea
511  388          Arabian Sea
523  390        Norwegian Sea
390  391        Norwegian Sea
293  392       Gulf of Alaska
685  393         Sea of Japan
876  394             Sulu Sea
156  395          Andaman Sea
271  396           Baltic Sea
683  397           Tasman Sea
953  398           Tasman Sea
71   399       Tyrrhenian Sea
36   400       Southern Ocean
562  401      South China Sea
460  402          Chilean Sea
282  403    Mediterranean Sea
616  404           Baltic Sea
600  405         Ligurian Sea
637  406         Adriatic Sea
889  407            Banda Sea
436  408        Greenland Sea
555  409           Yellow Sea
952  410      South China Sea
115  411      South China Sea
648  412        Greenland Sea
381  413           Baltic Sea
100  414            Banda Sea
485  415         Labrador Sea
611  416        Norwegian Sea
464  417        Norwegian Sea
149  418             Sulu Sea
58   419       Gulf of Mexico
833  420           Tasman Sea
516  421       Tyrrhenian Sea
786  422       Gulf of Mexico
995  423    Mediterranean Sea
969  424            Black Sea
213  425              Red Sea
392  426              Red Sea
517  427          Barents Sea
733  428           Ryukyu Sea
105  429         Sea of Japan
954  430        Norwegian Sea
758  431           Aegean Sea
967  432          Chilean Sea
491  433       Southern Ocean
701  434         Labrador Sea
186  435         Sea of Japan
684  436       Gulf of Alaska
425  437            Black Sea
831  438    Mediterranean Sea
788  439       Gulf of Mexico
740  440        Caribbean Sea
195  441       Gulf of Alaska
456  442           Bering Sea
891  443              Red Sea
704  444         Adriatic Sea
940  445        Norwegian Sea
210  446           Baltic Sea
165  447             Sulu Sea
721  448            Banda Sea
208  449           Aegean Sea
211  450       Tyrrhenian Sea
834  451    Mediterranean Sea
201  452          Arabian Sea
761  453         Ligurian Sea
362  454           Baltic Sea
417  455          Celebes Sea
999  456         Adriatic Sea
433  457       Gulf of Mexico
667  458           Aegean Sea
322  459        Norwegian Sea
729  460       East China Sea
980  461          Chilean Sea
220  462        Norwegian Sea
254  463       East China Sea
67   464        Caribbean Sea
332  465       Gulf of Mexico
687  466           Ryukyu Sea
110  467        Greenland Sea
484  468        Norwegian Sea
263  469           Aegean Sea
678  470              Red Sea
78   471          Chilean Sea
699  472             Java Sea
145  473          Andaman Sea
814  474         Labrador Sea
324  475       Southern Ocean
258  476           Baltic Sea
420  477         Ligurian Sea
432  478             Sulu Sea
670  479       Southern Ocean
235  480             Sulu Sea
869  481         Labrador Sea
661  482         Ligurian Sea
619  483    Mediterranean Sea
630  484       East China Sea
30   485           Yellow Sea
681  486          Barents Sea
90   487  Gulf of St Lawrence
512  488          Arabian Sea
73   489       East China Sea
844  490             Sulu Sea
429  491  Gulf of St Lawrence
796  492    Mediterranean Sea
739  493           Ryukyu Sea
364  494           Baltic Sea
447  495           Yellow Sea
518  496       Southern Ocean
296  497             Sulu Sea
824  498            Banda Sea
238  499         Sea of Japan
51   500             Java Sea
823  501          Andaman Sea
745  502           Baltic Sea
507  503        Norwegian Sea
905  504          Caspian Sea
205  505           Baltic Sea
524  506      South China Sea
164  507             Java Sea
44   508  Gulf of St Lawrence
31   509         Labrador Sea
231  510         Sea of Japan
947  511       Philippine Sea
48   512       Gulf of Alaska
286  513         Adriatic Sea
470  514            Black Sea
599  515            Coral Sea
921  516        Norwegian Sea
840  517            Black Sea
838  518             Java Sea
396  519          Chilean Sea
659  520          Arabian Sea
487  521            Banda Sea
492  522          Celebes Sea
931  523         Ligurian Sea
189  524        Greenland Sea
353  525          Celebes Sea
530  526         Sea of Japan
614  527           Yellow Sea
438  528        Greenland Sea
617  529           Yellow Sea
153  530    Mediterranean Sea
83   531           Bering Sea
863  532       East China Sea
315  533           Tasman Sea
750  534           Tasman Sea
991  535        Greenland Sea
103  536          Barents Sea
942  537        Norwegian Sea
627  538       Philippine Sea
657  539              Red Sea
294  540         Adriatic Sea
593  541       Gulf of Alaska
66   542       East China Sea
440  543         Ligurian Sea
854  544           Bering Sea
767  545       Gulf of Mexico
276  546          Arabian Sea
928  547            Black Sea
918  548         Sea of Japan
992  549        Norwegian Sea
88   550           Bering Sea
256  551             Sulu Sea
386  552           Yellow Sea
640  553          Chilean Sea
972  554       Tyrrhenian Sea
550  555             Sulu Sea
726  556       Philippine Sea
795  557             Java Sea
984  558          Chilean Sea
737  559          Andaman Sea
441  560       Philippine Sea
300  561         Labrador Sea
741  562       Gulf of Mexico
50   563          Arabian Sea
799  564          Chilean Sea
76   565        Greenland Sea
793  566          Chilean Sea
594  567       Tyrrhenian Sea
759  568           Bering Sea
111  569           Bering Sea
387  570             Sulu Sea
642  571       East China Sea
843  572          Barents Sea
101  573           Aegean Sea
909  574           Aegean Sea
578  575             Sulu Sea
272  576         Labrador Sea
575  577           Bering Sea
528  578           Tasman Sea
815  579          Arabian Sea
734  580    Mediterranean Sea
365  581           Baltic Sea
200  582        Norwegian Sea
880  583        Greenland Sea
54   584        Caribbean Sea
621  585       Gulf of Mexico
409  586           Tasman Sea
468  587        Greenland Sea
488  588        Norwegian Sea
454  589          Celebes Sea
346  590       Gulf of Alaska
68   591          Chilean Sea
950  592         Ligurian Sea
618  593           Ryukyu Sea
936  594          Arabian Sea
735  595       Tyrrhenian Sea
811  596          Celebes Sea
373  597          Arabian Sea
227  598  Gulf of St Lawrence
350  599        Caribbean Sea
477  600             Sulu Sea
898  601    Mediterranean Sea
410  602           Aegean Sea
669  603       Tyrrhenian Sea
725  604       Southern Ocean
743  605         Ligurian Sea
915  606            Black Sea
842  607          Andaman Sea
692  608          Arabian Sea
496  609  Gulf of St Lawrence
674  610         Sea of Japan
638  611          Caspian Sea
321  612         Adriatic Sea
563  613            Black Sea
877  614           Yellow Sea
501  615           Bering Sea
755  616           Yellow Sea
180  617           Ryukyu Sea
249  618          Arabian Sea
641  619       Philippine Sea
804  620           Yellow Sea
724  621           Yellow Sea
554  622      South China Sea
367  623           Baltic Sea
703  624         Sea of Japan
131  625          Andaman Sea
270  626           Bering Sea
680  627         Adriatic Sea
79   628           Baltic Sea
851  629        Caribbean Sea
542  630       Philippine Sea
128  631            Banda Sea
595  632          Arabian Sea
444  633           Aegean Sea
635  634  Gulf of St Lawrence
780  635       East China Sea
696  636      South China Sea
400  637             Java Sea
344  638           Tasman Sea
585  639           Aegean Sea
214  640            Banda Sea
337  641          Andaman Sea
84   642         Sea of Japan
338  643       East China Sea
746  644       Tyrrhenian Sea
229  645       Philippine Sea
32   646         Ligurian Sea
686  647       East China Sea
19   648           Aegean Sea
605  649            Coral Sea
832  650      South China Sea
764  651            Banda Sea
571  652       Gulf of Mexico
467  653        Norwegian Sea
567  654        Caribbean Sea
955  655            Banda Sea
472  656          Arabian Sea
382  657           Ryukyu Sea
536  658           Ryukyu Sea
564  659           Ryukyu Sea
606  660              Red Sea
968  661           Bering Sea
10   662         Labrador Sea
612  663          Chilean Sea
370  664            Coral Sea
720  665         Sea of Japan

In [20]:
#merge dataset with new row and with column, adding by id
dataMerge = pd.merge(dataCombine, dataColumnSorted, on="id")
dataMerge = dataMerge.dropna()
#drop all NaN objects (I removed this function from old notebook 7, because it would conflict)
#by the way IDs 1000 and 1001 are deleted by dropna because there is no values in them in column with seas
dataMerge.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 996 entries, 0 to 998
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               996 non-null    int64
 1   sex              996 non-null    object
 2   age              996 non-null    float64
 3   height           996 non-null    float64
 4   weight           996 non-null    float64
 5   headband         996 non-null    object
 6   college          996 non-null    object
 7   tattoos          996 non-null    int64
 8   tchests          996 non-null    int64
 9   parrots          996 non-null    int64
 10  favorite.pirate  996 non-null    object
 11  sword.type       996 non-null    object
 12  eyepatch         996 non-null    int64
 13  sword.time       996 non-null    float64
 14  beard.length     996 non-null    int64
 15  fav.pixar        996 non-null    object
 16  grogg            996 non-null    int64
 17  favorite.sea     996 non-null    object
dtypes: float64(4), int64(7), object(7)
memory usage: 147.8+ KB