In [1]:
columnKeys = {
    "Name":["Edward Teach", "Anne Bonny", "John Rackham", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida al Hurra", "Zheng Yi Sao", "Francis Drake", "Jean Lafitte"],
    "Years Active":[ [1716, 1718], [1718, 1720], [1718, 1720], [1798, 1810], [1564, 1595], [1708, 1721], [1515, 1545], [1801, 1810], [1563, 1596], [1810, 1823] ],
    "Sailed":["Carribean", "Carribean", "Carribean", "South China Sea", "British Isles", "Carribean", "Mediterranean", "South China Sea", "Carribean", "Gulf of Mexico"],
    "Alias":["Blackbeard", "", "Calico Jack", "The Kid", "Queen of Ireland", "Mark", "Hakimat Titwan", "Ching Shih", "Sir Francis Drake", "Terror of the Gulf"]
}
pirates = {
    "Pirate":["Blackbeard", "Anne Bonny", "Calico Jack", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida al Hurra", "Ching Shih", "Sir Francis Drake", "Jean Lafittte"],
    "Sex":["M", "F", "M", "M", "F", "F", "F", "F", "M", "M"],
    "Age at Death":[40, 24, 37, 39, 73, 36, 75, 69, 56, 46],
    "Height":[6.4, 5.6, 5.6, 5.3, 5.0, 5.1, 0.0, 5.3, 5.5, 6.2],
    "Skull and Crossbones":[False, True, True, False, False, True, False, False, False, False]
}

In [2]:
nameKeys = {
    "Edward Teach":[[1716, 1718], "Carribean", "Blackbeard"],
    "Anne Bonny":[[1718, 1720], "Carribean", ""],
    "John Rackham":[[1718, 1720], "Carribean", "Calico Jack"],
    "Cheung Po Tsai":[[1798, 1810], "South China Sea", "The Kid"],
    "Grace O'Malley":[[1564, 1595], "British Isles", "Queen of Ireland"],
    "Mary Read":[[1708, 1721], "Carribean", "Mark"],
    "Sayyida al Hurra":[[1515, 1545], "Mediterranean", "Hakimat Titwan"],
    "Zheng Yi Sao":[[1801, 1810], "South China Sea", "Ching Shih"],
    "Francis Drake":[[1563, 1596], "Carribean", "Sir Francis Drake"],
    "Jean Lafitte":[[1810, 1823], "Gulf of Mexico", "Terror of the Gulf"]
}

In [3]:
countCent = 0
for cent18 in columnKeys["Years Active"]:
    print(cent18[0])
    print(cent18[1])
    if cent18[0] > 1700 and cent18[0] < 1800 :
        for carrCheck in columnKeys["Sailed"]:
            if carrCheck == "Carribean":
                columnKeys["Sailed"].remove("Carribean")
                print(columnKeys["Sailed"])
                countCent = countCent + 1
                print(countCent)
                if carrCheck == "Carribean":
                    break
print("The result is", countCent-1)

1716
1718
['Carribean', 'Carribean', 'South China Sea', 'British Isles', 'Carribean', 'Mediterranean', 'South China Sea', 'Carribean', 'Gulf of Mexico']
1
1718
1720
['Carribean', 'South China Sea', 'British Isles', 'Carribean', 'Mediterranean', 'South China Sea', 'Carribean', 'Gulf of Mexico']
2
1718
1720
['South China Sea', 'British Isles', 'Carribean', 'Mediterranean', 'South China Sea', 'Carribean', 'Gulf of Mexico']
3
1798
1810
['South China Sea', 'British Isles', 'Mediterranean', 'South China Sea', 'Carribean', 'Gulf of Mexico']
4
1564
1595
1708
1721
['South China Sea', 'British Isles', 'Mediterranean', 'South China Sea', 'Gulf of Mexico']
5
1515
1545
1801
1810
1563
1596
1810
1823
The result is 4

In [4]:
# print(columnKeys["Years Active"][4][0])
result = 0
num1 = columnKeys["Years Active"][0][1] - columnKeys["Years Active"][0][0]
for i in range(10):
    for num2 in columnKeys["Years Active"][i]:
        num2 = columnKeys["Years Active"][i][1] - columnKeys["Years Active"][i][0]
        if num1 == num2:
            num1 = num1
            print("equality")
        if num1 > num2:
            num1 = num1
            print("num1 is higher than num2")
        if num1 < num2:
            num1 = num2
            print("num2 is higher than num1")
            print(columnKeys["Years Active"][i])
print(num1)

equality
equality
equality
equality
equality
equality
num2 is higher than num1
[1798, 1810]
equality
num2 is higher than num1
[1564, 1595]
equality
num1 is higher than num2
num1 is higher than num2
num1 is higher than num2
num1 is higher than num2
num1 is higher than num2
num1 is higher than num2
num2 is higher than num1
[1563, 1596]
equality
num1 is higher than num2
num1 is higher than num2
33

In [5]:
# num1 = columnKeys["Years Active"][0][1] - columnKeys["Years Active"][0][0]
result = 0
for i in range(10):
    for num2 in columnKeys["Years Active"][i]:
        num2 = columnKeys["Years Active"][i][1] - columnKeys["Years Active"][i][0]
        result = result + num2
        print("num 2 is", num2)
        print(result)
print("x",result/2)
print("0.1x",result/20)
print(2+2+2+12+31+13+30+9+33+13)

num 2 is 2
2
num 2 is 2
4
num 2 is 2
6
num 2 is 2
8
num 2 is 2
10
num 2 is 2
12
num 2 is 12
24
num 2 is 12
36
num 2 is 31
67
num 2 is 31
98
num 2 is 13
111
num 2 is 13
124
num 2 is 30
154
num 2 is 30
184
num 2 is 9
193
num 2 is 9
202
num 2 is 33
235
num 2 is 33
268
num 2 is 13
281
num 2 is 13
294
x 147.0
0.1x 14.7
147

In [6]:
def Merge(columnKeys, pirates):
    pirates.pop("Pirate")
    for i in pirates.keys():
        columnKeys[i]=pirates[i]
    return columnKeys

mergedPirates = Merge(columnKeys, pirates)
print(mergedPirates)

{'Name': ['Edward Teach', 'Anne Bonny', 'John Rackham', 'Cheung Po Tsai', "Grace O'Malley", 'Mary Read', 'Sayyida al Hurra', 'Zheng Yi Sao', 'Francis Drake', 'Jean Lafitte'], 'Years Active': [[1716, 1718], [1718, 1720], [1718, 1720], [1798, 1810], [1564, 1595], [1708, 1721], [1515, 1545], [1801, 1810], [1563, 1596], [1810, 1823]], 'Sailed': ['South China Sea', 'British Isles', 'Mediterranean', 'South China Sea', 'Gulf of Mexico'], 'Alias': ['Blackbeard', '', 'Calico Jack', 'The Kid', 'Queen of Ireland', 'Mark', 'Hakimat Titwan', 'Ching Shih', 'Sir Francis Drake', 'Terror of the Gulf'], 'Sex': ['M', 'F', 'M', 'M', 'F', 'F', 'F', 'F', 'M', 'M'], 'Age at Death': [40, 24, 37, 39, 73, 36, 75, 69, 56, 46], 'Height': [6.4, 5.6, 5.6, 5.3, 5.0, 5.1, 0.0, 5.3, 5.5, 6.2], 'Skull and Crossbones': [False, True, True, False, False, True, False, False, False, False]}

In [7]:
for i in mergedPirates:
    print(mergedPirates[i])

['Edward Teach', 'Anne Bonny', 'John Rackham', 'Cheung Po Tsai', "Grace O'Malley", 'Mary Read', 'Sayyida al Hurra', 'Zheng Yi Sao', 'Francis Drake', 'Jean Lafitte']
[[1716, 1718], [1718, 1720], [1718, 1720], [1798, 1810], [1564, 1595], [1708, 1721], [1515, 1545], [1801, 1810], [1563, 1596], [1810, 1823]]
['South China Sea', 'British Isles', 'Mediterranean', 'South China Sea', 'Gulf of Mexico']
['Blackbeard', '', 'Calico Jack', 'The Kid', 'Queen of Ireland', 'Mark', 'Hakimat Titwan', 'Ching Shih', 'Sir Francis Drake', 'Terror of the Gulf']
['M', 'F', 'M', 'M', 'F', 'F', 'F', 'F', 'M', 'M']
[40, 24, 37, 39, 73, 36, 75, 69, 56, 46]
[6.4, 5.6, 5.6, 5.3, 5.0, 5.1, 0.0, 5.3, 5.5, 6.2]
[False, True, True, False, False, True, False, False, False, False]